body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
@font-face {
  font-family: "Calibre";
  src: local("Calibre"), url(./Fonts/Calibre-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "CalibreL";
  src: local("CalibreL"), url(./Fonts/Calibre-Light.ttf) format("truetype");
} */

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(./Fonts/Raleway-Medium.ttf) format("truetype");
}

a:link {
  text-decoration: none;
  color: #0dec7c;
}
a:visited {
  text-decoration: none;
  color: #0dec7c;
}
a:hover {
  text-decoration: none;
  color: #0dec7c;
}
a:active {
  text-decoration: none;
  color: #0dec7c;
}
